.font_family {
  font-family: Nunito Sans !important;
}
.font_bold {
  font-weight: 800 !important;
}
.element_light {
  background: hsl(0, 0%, 100%) !important;
}
.element_dark {
  background: hsl(209, 23%, 22%) !important;
}
.background_dark {
  background: hsl(207, 26%, 17%) !important;
}
.background_light {
  background: hsl(0, 0%, 98%) !important;
}
.text_light {
  color: hsl(200, 15%, 8%) !important;
}
.text_dark {
  color: hsl(0, 0%, 100%) !important;
}
.input_light {
  color: hsl(0, 0%, 52%) !important;
}
.cursor {
  cursor: pointer;
}
.container {
  margin: 0px;
  padding: 40px;
  height: 100vh;
}
.home_container {
  margin: 0px;
  padding: 40px;
  height: 100%;
}
.search_width {
  width: 300px;
}
.filter_grid {
  display: flex;
  justify-content: end;
}
.margin_top {
  margin-top: 20px;
}
.margin_bottom {
  margin-bottom: 40px;
}
.card_width {
  width: 250px;
}
.font_home_title {
  font-size: 16px;
}
.font_home_body {
  font-size: 14px;
}
.subtitle_title {
  font-weight: 600;
}
.detail_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column !important;
}
.detail_image {
  width: 550px;
  height: 440px;
}
.text_left {
  text-align: left !important;
  margin-bottom: 20px;
}
.sub_detail_container {
  display: flex;
  justify-content: space-between;
}
.margin_right {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}
.border {
  margin-top: 40px !important;
}
